<!DOCTYPE html>

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="../static/cssfiles/bootstrap-4.3.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/cssfiles/font-awesome-4.7.0/css/font-awesome.css">
    <script src="../static/js/jquery-3.6.0.js"></script>
    <script src="../static/cssfiles/bootstrap-4.3.1-dist/js/proper.min.js"></script>
    <script src="../static/cssfiles/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
    <script src="../static/cssfiles/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js"></script>

    <link href="../static/cssfiles/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <script type="text/javascript" src="../static/js/2.js"></script>
    <link rel="stylesheet" href="../static/cssfiles/style.css" type="text/css">


    <meta name="Keywords" content="TodoList">
    <meta name="Description" content="The TodoList page">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Robots" content="all">
    <meta name="Author" content="Shawn,sc20xj@leeds.ac.uk">
    <title>base</title>
</head>
<body>

{% block head %}
    <div class="container m-5 p-2 rounded mx-auto bg-light shadow">
    {% for category,message in get_flashed_messages(with_categories = true) %}
        {% if category =="error" %}
            <p class="alert alert-danger alert">{{ message }}</p>
        {% endif %}
        {% if category=="good" %}
            <p class="alert alert-success alert">{{ message }}</p>
        {% endif %}
    {% endfor %}

    <!-- List title section -->
    <div class="row m-1 p-4">
        <div class="col">
            <div class="p-1 h1 text-success text-center mx-auto display-inline-block">
                <i class="fa fa-check bg-success text-white rounded p-2"></i>
                <u>TodoList</u>
                <a href="{{ url_for('show') }}"> <i
                        class="fa fa-arrow-circle-o-left bg-success text-white rounded p-2 pull-right"
                        data-toggle="tooltip" data-placement="bottom" title="Login out"></i></a>
            </div>
        </div>
    </div>

    <!-- Create category -->
    <form class="p-2 mx-4" method="POST" action="{{ url_for('add_ca',id=id,c_id=c_id) }}">
        {{ form3.hidden_tag() }}
        <div class="row">
            <div class="col col-5 mx-auto offset-3">
                <div class="row bg-white rounded shadow-sm p-2 add-todo-wrapper align-items-center justify-content-center">
                    <div class="col-12">
                        {{ form3.C_name(class="form-control form-control-lg border-0 add-todo-input bg-transparent rounded",value="") }}
                    </div>
                </div>
            </div>
            <div class="col col-2 mt-3">
                <input class="row bg-white rounded shadow-sm p-2 add-todo-wrapper align-items-center justify-content-center"
                       type="submit" value="add new">
            </div>
        </div>
    </form>
    <div class="p-2 mx-4 border-black-25 border-bottom"></div>



    <!-- Create todo section -->
    <form class="p-2 mx-4" method="POST" action="{{ url_for('add',id=id,c_id=c_id) }}">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col col-8 mx-auto">
                <div class="row bg-white rounded shadow-sm p-2 add-todo-wrapper align-items-center justify-content-center">
                    <div class="col">
                        {{ form.Des(class="form-control form-control-lg border-0 add-todo-input bg-transparent rounded",value="") }}
                    </div>
                </div>
            </div>
            <div class="col col-2 mx-auto offset-1">
                <div class="row bg-white rounded shadow-sm p-2 add-todo-wrapper align-items-center justify-content-center">
                    <div class="col">
                        <select class="form-control form-control-lg border-0 add-todo-input bg-transparent rounded"
                                data-toggle="tooltip" data-placement="bottom" title="CATEGORY" name="category">
                            <option value="{{ category_now.id }}" selected>{{ category_now.name }}</option>
                            {% for category in categories %}
                                {% if category != category_now %}
                                    <option value="{{ category.id }}">{{ category.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

        </div>
        <div class="row mt-3">
            <div class="col col-2 mx-auto">
                <div class="row bg-white rounded shadow-sm p-2 add-todo-wrapper align-items-center justify-content-center">
                    {{ form.name(class="col form-control form-control-lg border-0 add-todo-input bg-transparent rounded",value="") }}
                </div>
            </div>
            <div class="col col-3 mx-auto">
                <div class="row bg-white rounded shadow-sm p-2 add-todo-wrapper align-items-center justify-content-center">
                    {{ form.ddl(id="date11",class="col form-control form-control-lg border-0 add-todo-input bg-transparent rounded",readonly="readonly", value="date") }}
                    {{ form.setdate(class="d-none" , value="",id="date22") }}
                    {{ form.big(class="d-none" , value="0",id="datebig") }}
                    {{ form.create(class="d-none" , value="",id="datecreate") }}
                    <i class="fa fa-calendar my-2 px-1 text-primary btn due-date-button" data-toggle="tooltip"
                       data-placement="bottom" title="Set a Due date"> </i>
                </div>
            </div>

            <div class="col col-2 mx-auto offset-3">
                <div class="row bg-white rounded shadow-sm p-2 add-todo-wrapper align-items-center justify-content-center">
                    <div class="col">
                        <select class="form-control form-control-lg border-0 add-todo-input bg-transparent rounded"
                                data-toggle="tooltip" data-placement="bottom" title="Default is Low" name="pri">
                            <option value="High">High</option>
                            <option value="Medium">Medium</option>
                            <option value="Low" selected>Low</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col col-2 mt-3">
                <input id="my_add"
                       class="row bg-white rounded shadow-sm p-2 add-todo-wrapper align-items-center justify-content-center"
                       type="submit" value="add new">
            </div>
        </div>
    </form>

    <div class="p-2 mx-4 border-black-25 border-bottom"></div>

{% endblock %}

<!-- View options section -->

{% block option %}
    <div>
        <div class="row mt-2 mb-2">
            <nav class="col col-auto offset-2">
                <div class="nav nav-tabs " id="nav-tab" role="tablist">
                    {% block nav1 %}
                        <a class="nav-item nav-link active color3" href="{{ url_for('add',id=id,c_id=c_id) }}"
                           role="tab" aria-controls="nav-profile" aria-selected="true"><i class="fa fa-hand-pointer-o">
                            incomplete</i></a>
                        <a class="nav-item nav-link color3" href="{{ url_for('complete',id=id,c_id=c_id) }}" role="tab"
                           aria-controls="nav-profile" aria-selected="false"><i class="fa fa-thumbs-o-up"> complete</i></a>
                    {% endblock %}
                </div>
            </nav>
            <div class="offset-1 col-2 d-flex align-items-center px-1 pr-3">
                <select class="custom-select custom-select-sm btn my-2" name="datetype">
                    <option value="{{ category_now.id }}" selected>{{ category_now.name }}</option>
                    {% for category in categories %}
                        {% if category != category_now %}
                            <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>

            <div class="offset-1 col-auto d-flex align-items-center px-1 pr-3">
                <label class="text-secondary my-2 pr-2 view-opt-label">Sort</label>
                <select class="custom-select custom-select-sm btn my-2" name="category">
                    <option value="due-date-desc" selected>Due date</option>
                </select>

                {% block sort %}
                    <a href="{{ url_for('sort_as',id=id, c_id=c_id) }}"> <i id="Ascending"
                                                                            class="fa fa fa-sort-amount-asc text-info btn mx-0 px-0 pl-1 "
                                                                            data-toggle="tooltip"
                                                                            data-placement="bottom"
                                                                            title="Ascending"></i></a>
                    <a href="{{ url_for('sort_ds',id=id, c_id=c_id) }}"> <i id="Descending"
                                                                            class="fa fa fa-sort-amount-desc text-info btn mx-0 px-0 pl-1 "
                                                                            data-toggle="tooltip"
                                                                            data-placement="bottom"
                                                                            title="Descending"></i></a>
                {% endblock %}
            </div>

        </div>

        {% block form %}
            <form class="col col-11 offset-1"
                  action="{{ url_for('search',id=id,type="None",keyword="NULL",c_id=c_id) }}" method="POST">
        {% endblock %}
        {{ form2.hidden_tag() }}
        <div class="row">
            {{ form2.all(class="search col col-8  form-control form-control-lg add-todo-input bg-transparent rounded mydate",id="All") }}

            {{ form2.search(class="search col col-8  form-control form-control-lg add-todo-input bg-transparent rounded mydate",id="des1") }}

            <div id="search1" class="col col-8 search mydate">
                <div class=" row rounded add-todo-input align-items-center justify-content-center bg-transparent">
                    {{ form2.date1(class="col col-10  border-0 add-todo-input bg-transparent rounded",id="search11",readonly="readonly",value="No DDL") }}
                    <i id="searchc" class="fa fa-calendar fa-lg my-2 px-1 text-primary btn" data-toggle="tooltip"
                       data-placement="bottom" title="Select a Due date"> </i>
                </div>
            </div>

            <div id="pr1" class="search col col-8 mydate">
                <select class="form-control form-control-lg border-0 add-todo-input bg-transparent rounded"
                        data-toggle="tooltip" data-placement="bottom" title="Select Priority" name="pri1">
                    <option value="High">High</option>
                    <option value="Medium">Medium</option>
                    <option value="Low" selected>Low</option>
                </select>
            </div>


            <input class="col col-auto mr-1 row bg-white rounded shadow-sm p-2 add-todo-wrapper align-items-center justify-content-center search"
                   type="submit" value="submit">
            <select id="myselect" class="col col-3  form-control form-control-lg search add-todo-input rounded"
                    data-toggle="tooltip" data-placement="bottom" title="Search Type" name="type">
                <option value="All">All</option>
                <option value="Des">Description</option>
                <option value="Date">Date</option>
                <option value="Priority">Priority</option>
            </select>
        </div>
        </form>


    </div>

    <div class="p-2 mx-4 border-black-25 border-bottom"></div>

{% endblock %}

   <!-- Todo list section -->
{% block show %}
    <div class="row">
        <div class="col col-auto my-auto p-10 mx-auto">
            <div class="category1">
                {% for category in categories %}
                    <p class="categories card my-3  mx-2">
                        <a href="{{ url_for('add',id=id,c_id=category.id) }}"
                           class="nav-link color3 text-center {% if category == category_now %}active{% endif %}">{{ category.name }}
                            <a class="dc" href="{{ url_for('delete_category',id=id,c_id=category.id) }}"><i
                                    class="fa fa-trash-o text-danger btn p-0" data-toggle="tooltip"
                                    data-placement="bottom" title="Delete Category"></i></a></a>
                    </p>
                {% endfor %}
            </div>
        </div>


        <div class="col col-auto mx-auto">
            {% for item in items %}
                <div>
                <p class="card" id="item{{ loop.index }}">
                    {% if item.priority =="Medium" %}
                        <div class="row px-3 align-items-center todo-item editing rounded bg-warning bg-gradient"
                             data-toggle="tooltip" data-placement="bottom" title="Priority: Medium">
                    {% elif item.priority =="High" %}
                        <div class="row px-3 align-items-center todo-item editing rounded warning bg-gradient"
                             data-toggle="tooltip" data-placement="bottom" title="Priority: High">
                    {% else %}
                        <div class="row px-3 align-items-center todo-item editing rounded bg-success bg-gradient"
                             data-toggle="tooltip" data-placement="bottom" title="Priority: Low">
                    {% endif %}
                    <div class="col-auto d-flex align-items-center ">
                        <h2 class=" ml-2 mt-2  p-0">
                            <a href="{{ url_for('done',id=item.id,c_id=c_id) }}">
                                <i class="check1 fa fa-square-o text-primary btn m-0 p-0" data-toggle="tooltip"
                                   data-placement="bottom" title="Mark as complete"></i>
                            </a>
                        </h2>
                    </div>
                    <div class="col-3 ml-0 px-1  d-flex align-items-center ">

                        <input id="form1{{ loop.index }}" type="text"
                               class="form-control form-control-lg border-0 edit-todo-input bg-transparent rounded px-3"
                               readonly="readonly" value="{{ item.a_name }}"/>


                    </div>

                    <div class="col-3 ml-0 px-1  d-flex align-items-center overflow-hidden">
                        <i id="{{ loop.index }}" class="fa fa-plus-square-o desc a5">Description</i>

                    </div>


                    <div class="col-auto m-1 p-0 px-3 ">
                        <div class="row ">
                            <div class="col-auto d-flex align-items-center rounded bg-white border border-warning">
                                <i class="fa fa-hourglass-2 my-2 px-2 text-warning btn due-date-button11"
                                   id="due-date-button1{{ loop.index }}" data-toggle="tooltip" data-placement="bottom"
                                   title="" data-original-title="Due on date"></i>
                                {% if item.ddl != "date" %}
                                    <p id="date33{{ loop.index }}" class="text my-2 pr-2">{{ item.ddl }}</p>
                                {% else %}
                                    <p id="date33{{ loop.index }}" class="text my-2 pr-2">There is No DDL...</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="col-auto  m-1 ml-3 p-0 todo-actions">
                        <div class="row d-flex justify-content-center ml-4">
                            <h5 class="m-0 p-0 px-2">
                                <a> <i id="{{ loop.index }}" class="fa fa-pencil text-info btn m-0 p-0 edit-btn"
                                       data-toggle="tooltip" data-placement="bottom" title="Edit todo"></i></a>
                            </h5>
                            <h5 class="m-0 p-0 px-2">
                                <a href="{{ url_for('deleteitem',id=item.id, c_id=c_id) }}"><i
                                        class="fa fa-trash-o text-danger btn m-0 p-0" data-toggle="tooltip"
                                        data-placement="bottom" title="Delete todo"></i></a>
                            </h5>
                        </div>
                        <div class="row todo-created-info">
                            <div class="col-auto ml-3 d-flex align-items-center pr-2 justify-content-end">
                                <i class="fa fa-info-circle my-2 px-2 text-black-50 btn" data-toggle="tooltip"
                                   data-placement="bottom" title="" data-original-title="Created date"></i>
                                <label id="label1{{ loop.index }}"
                                       class="date-label my-2 text-black-50">{{ item.setdate }}</label>

                            </div>
                        </div>
                    </div>

                    </div>
                    <div class="alert-success row ml-0 px-1 d-flex align-items-center">
                        <textarea id="des1{{ loop.index }}" type="text"
                                  class="edit-form form-control form-control-lg border-0 edit-todo-input bg-transparent rounded px-3"
                                  readonly="readonly"/>{{ item.des }} </textarea>
                    </div>

                    <div id="line1{{ loop.index }}" class="line p-2 mb-5 border-black-25 border-bottom"></div>
                    <form class="edit-form justify-content-center mt-0" id="form{{ loop.index }}"
                          action="{{ url_for('edit_item', id=item.id,c_id=c_id) }}" method="POST">
                        <div class="row">
                            <select class="col col-2 offset-2 form-control select1 border-0 add-todo-input rounded my-auto"
                                    data-toggle="tooltip" data-placement="bottom" title="Priority" name="pri">
                                {% if item.priority =="High" %}
                                    <option value="High" selected class="select1">High</option>
                                    <option value="Medium" class="select1">Medium</option>
                                    <option value="Low" class="select1">Low</option>
                                {% elif item.priority =="Medium" %}
                                    <option value="High">High</option>
                                    <option value="Medium" selected>Medium</option>
                                    <option value="Low">Low</option>
                                {% else %}
                                    <option value="High">High</option>
                                    <option value="Medium">Medium</option>
                                    <option value="Low" selected>Low</option>
                                {% endif %}
                            </select>
                            <a href="#" class="offset-1 col col-2 btn confirm-btn  color1 my-auto"
                               id="a1{{ loop.index }}">Submit</a>
                            <a class="offset-1 col col-2 btn cancel-btn color2 my-auto">Cancle</a>
                            <input id="date222{{ loop.index }}" name="setdate" class="d-none"
                                   value="{{ item.setdate }}">
                            <input id="date2222{{ loop.index }}" name="ddl" class="d-none" value="{{ item.ddl }}">
                            <input id="date22222{{ loop.index }}" name="big" class="d-none" value="{{ item.big }}">
                            <input id="date222222{{ loop.index }}" name="create" class="d-none"
                                   value="{{ item.create }}">
                            <input id="word{{ loop.index }}" name="a_name" class="d-none" value="">
                            <input id="des2{{ loop.index }}" name="des" class="d-none" value="">

                        </div>
                    </form>
                    <div class="p-2 mb-0 border-black-25 border-bottom"></div>
                    </p>

                    </div>

            {% endfor %}
            </div>
            </div>

        </div>
    </div>
{% endblock %}
</div>
</body>
</html>